.container {
  padding-bottom: 1em;
}

.title {
  text-align: center;
  display: block;
  font-size: 3em;
  padding-top: 0.5em;
}

.items-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.items-container tr.vanished td {
  background-color: #FF2B56;
  color: white;
}

.items-container tr.vanished td a {
  color: white;
}

.pagination-container {
  width: 700px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 1em;
  clear: both;
}
